<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Nearby Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="searchThisArea()"
  >
    <ion-fab-button #search id="search">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="setUserPosition()"
  >
    <ion-fab-button color="light" #locate id="locate">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ion-padding">
    <div class="ion-padding" #map id="map"></div>
  </div>
</ion-content>
